input {
  margin-left: 0;
}
.form-input {
  display: block;
  width: 90%;
  background-color: #333333;
  color: grey;
  font-size: 15px;
  padding-left: 12px;
  line-height: 50px;
  text-align: left;
  border-radius: 5px;
  border: none;
  margin: 8px 5%;
  font-weight: 500;
  outline: none;
}

.contact-message {
  font-size: 25px;
  font-weight: 300;
  color: white;
}

.special {
  height: 250px;
  padding-top: -100px;
  line-height: 40px;
}

.special-form {
  padding-left: 0;
  margin-left: 0;
}
