.nav-bar {
  width: 100%;
  padding: 0 auto;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 100000;
}

.nav-list {
  display: flex;
  margin: 10px auto;
  width: 50%;
  padding-left: 0;
  justify-content: center;
  height: 80px;
}

.nav-item > a {
  margin: 20px 20px;
  cursor: pointer;
  line-height: 80px;
  color: white;
}

.nav-item > a:hover {
  color: #61dbfb;
  font-weight: 600;
}

.nav-bar-mobile {
  width: 100%;
  height: 80px;
  padding: 25px 0;
  text-align: right;
  display: none;
}

.fa-bars {
  font-size: 30px;
  color: white;
  line-height: 80px;
  text-align: left;
  cursor: pointer;
  z-index: 10000;
}

.fa-bars:hover {
  color: #61dbfb;
}

.nav-bar-mobile-menu {
  background-color: white;
  display: none;
  position: absolute;
  width: 100%;
}

.nav-mobile-list {
  width: 100%;
  padding: 20px 0px;
}
.nav-bar-wrapper:hover .nav-bar-mobile-menu {
  display: none;
}

.nav-bar-wrapper {
  position: relative;
}
.nav-mobile-item {
  text-align: right;
  font-size: 14px;
  line-height: 40px;
  font-weight: 300;
  cursor: pointer;
}

.nav-mobile-item:hover {
  color: #61dbfb;
  font-weight: 500;
}

@media (max-width: 1023px) {
  .nav-bar {
    display: none;
  }
  .nav-bar-mobile {
    display: block;
  }
  .nav-bar-wrapper:hover .nav-bar-mobile-menu {
    display: block;
  }
}
