/*tao grid, day la thu bao trum len 12 layout*/

.grid {
    width: 100%;
    max-width: 100%;
    display: block;
    padding: 0;
}

/* grid rong hon 1200px */

.grid.wide {
    max-width: 1200px;
    margin: 0 auto;
}

/* TAO ROW, DAY LA THU NAM TRONG GRID, VA CHUA CAC COLUMN TREN CUNG 1 DONG */

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
}


/* TAO DOI TUONG COLUMN, DAY LA PHAN TU CHUA CAC CONTENT CUA WEB */

.col {
    padding-left: 4px;
    padding-right: 4px;
}

.c-0 {
    display: none;
}
.c-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}
.c-2 {
    flex: 0 0 16.66666%;
    max-width: 16.66666%;
}
.c-3 {
    flex: 0 0 24.99999%;
    max-width: 24.99999%;
}
.c-4 {
    flex: 0 0 33.3333%;
    max-width: 33.33332%;
}
.c-5 {
    flex: 0 0 41.66665%;
    max-width: 41.66665%;
}
.c-6 {
    flex: 0 0 49.99998%;
    max-width: 49.99998%;
}
.c-7 {
    flex: 0 0 58.33331%;
    max-width: 58.33331%;
}
.c-8 {
    flex: 0 0 66.66664%;
    max-width: 66.66664%;
}
.c-9 {
    flex: 0 0 74.99997%;
    max-width: 74.99997%;
}
.c-10 {
    flex: 0 0 83.3333%;
    max-width: 83.3333%;
}
.c-11 {
    flex: 0 0 91.66663%;
    max-width: 91.66663%;
}
.c-12 {
    flex: 0 0 99.99996%;
    max-width: 99.99996%;
}
@media (min-width: 740px) {
    .row {
        margin-left: -8px;
        margin-right: -8px;
    }

    .col {
        padding-left: 8px;
        padding-right: 8px;
    }

    .m-0 {
        display: none;
    }

    .m-1 {
        display: block;
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .m-2 {
        display: block;
        flex: 0 0 16.66666%;
        max-width: 16.66666%;
    }
    
    .m-3 {
        display: block;
        flex: 0 0 24.99999%;
        max-width: 24.99999%;
    }
    
    .m-4 {
        display: block;
        flex: 0 0 33.3333%;
        max-width: 33.33332%;
    }
    
    .m-5 {
        display: block;
        flex: 0 0 41.66665%;
        max-width: 41.66665%;
    }
    
    .m-6 {
        display: block;
        flex: 0 0 49.99998%;
        max-width: 49.99998%;
    }
    
    .m-7 {
        display: block;
        flex: 0 0 58.33331%;
        max-width: 58.33331%;
    }
    
    .m-8 {
        display: block;
        flex: 0 0 66.66664%;
        max-width: 66.66664%;
    }
    
    .m-9 {
        display: block;
        flex: 0 0 74.99997%;
        max-width: 74.99997%;
    }
    
    .m-10 {
        display: block;
        flex: 0 0 83.3333%;
        max-width: 83.3333%;
    }
    
    .m-11 {
        display: block;
        flex: 0 0 91.66663%;
        max-width: 91.66663%;
    }
    
    .m-12 {
        display: block;
        flex: 0 0 99.99996%;
        max-width: 99.99996%;
    }
}

@media (min-width: 1113px) {
    .row {
        margin-left: -12px;
        margin-right: -12px;
    }

    .col {
        padding-left: 12px;
        padding-right: 12px;
    }

    .l-0 {
        display: none;
    }

    .l-1 {
        display: block;
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .l-2 {
        display: block;
        flex: 0 0 16.66666%;
        max-width: 16.66666%;
    }

    .l-2-4 {
        display: block;
        flex: 0 0 20%;
        max-width: 20%;
    }
    
    .l-3 {
        display: block;
        flex: 0 0 24.99999%;
        max-width: 24.99999%;
    }
    
    .l-4 {
        display: block;
        flex: 0 0 33.3333%;
        max-width: 33.33332%;
    }
    
    .l-5 {
        display: block;
        flex: 0 0 41.66665%;
        max-width: 41.66665%;
    }
    
    .l-6 {
        display: block;
        flex: 0 0 49.99998%;
        max-width: 49.99998%;
    }
    
    .l-7 {
        display: block;
        flex: 0 0 58.33331%;
        max-width: 58.33331%;
    }
    
    .l-8 {
        display: block;
        flex: 0 0 66.66664%;
        max-width: 66.66664%;
    }
    
    .l-9 {
        display: block;
        flex: 0 0 74.99997%;
        max-width: 74.99997%;
    }
    
    .l-10 {
        display: block;
        flex: 0 0 83.3333%;
        max-width: 83.3333%;
    }
    
    .l-11 {
        display: block;
        flex: 0 0 91.66663%;
        max-width: 91.66663%;
    }
    
    .l-12 {
        display: block;
        flex: 0 0 99.99996%;
        max-width: 99.99996%;
    }
}


@media (min-width: 740px) and (max-width: 1023px) {
    .wide {
        width: 644px;
    }
}


@media (min-width: 1024px) and (max-width: 1239px) {
    .wide {
        width: 984px;
    }

    .wide .row {
        margin-left: -12px;
        margin-right: -12px;
    }

    .wide .col {
        padding-left: 12px;
        padding-right: 12px;
    }

    .wide .l-0 {
        display: none;
    }
    .wide .l-1 {
        display: block;
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .wide .l-2 {
        display: block;
        flex: 0 0 16.66666%;
        max-width: 16.66666%;
    }    
    .wide .l-2-4 {
        display: block;
        flex: 0 0 20%;
        max-width: 20%;
    }    
    .wide .l-3 {
        display: block;
        flex: 0 0 24.99999%;
        max-width: 24.99999%;
    }   
    .wide .l-4 {
        display: block;
        flex: 0 0 33.3333%;
        max-width: 33.33332%;
    }   
    .wide .l-5 {
        display: block;
        flex: 0 0 41.66665%;
        max-width: 41.66665%;
    }    
    .wide .l-6 {
        display: block;
        flex: 0 0 49.99998%;
        max-width: 49.99998%;
    }   
    .wide .l-7 {
        display: block;
        flex: 0 0 58.33331%;
        max-width: 58.33331%;
    }   
    .wide .l-8 {
        display: block;
        flex: 0 0 66.66664%;
        max-width: 66.66664%;
    }    
    .wide .l-9 {
        display: block;
        flex: 0 0 74.99997%;
        max-width: 74.99997%;
    }  
    .wide .l-10 {
        display: block;
        flex: 0 0 83.3333%;
        max-width: 83.3333%;
    }   
    .wide .l-11 {
        display: block;
        flex: 0 0 91.66663%;
        max-width: 91.66663%;
    }  
    .wide .l-12 {
        display: block;
        flex: 0 0 99.99996%;
        max-width: 99.99996%;
    }
}

@media (min-width: 1039px) nad (max-width: 20747px) {
    .grid {
        max-width: 1200px;
    }

    .wide {
        max-width: 1300px;
    }

    .content-num-1 {
        min-width: 120px;
        max-width: 15000px;
    }

    
}